* {
    margin: 0
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;

}
nav div{
    display: flex;
    align-items: center;
    gap: 9px;
}

nav div p{
    font-size: 26px;
    font-weight: 500;
    
}
nav img{
    width: 20px;
    height: 20px;
}

#font-brand{
    font-family: 'Cabin', sans-serif;
}
#nav-options{
    display: flex;
    gap: 40px;
}

section img{
    width: 100%;
}



main #main-header{
    border-bottom: 0.2px solid #A5A1A1;
    margin-bottom: 57px;
}

main #main-header #main-header--content{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    padding: 0 70px;
}

main #main-cards{
    display: flex;
    padding: 0 70px;
    gap: 190px;
    row-gap: 60px;
    flex-wrap: wrap;
}

main .main-card .main-card--img{
    width: 303px;
    height: 303px;
}

main img{
    width: 100%;
    object-fit: cover;
}

main .main-card div{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

main .main-card .main-card--price{
    color: green;
}

#footer-top{
    display: flex;
    align-items: center;
    padding: 40px 70px;
}